<script setup lang="ts">
import {
  mdiCarConvertible,
  mdiHumanMale,
  mdiChevronTripleRight,
  mdiCake,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <v-row class="bg">
      <v-col cols="8" align="center">
        <h1>Portfolio</h1>
      </v-col>
      <v-col cols="4" align="center">
        <v-avatar size="270">
          <v-img src="jettada.jpg" height="300px" cover></v-img>
        </v-avatar>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="bg2" cols="2" style="color: black">
        <h2>----------------------------</h2>
        <div><v-icon :icon="mdiChevronTripleRight"></v-icon>Name: Jettada</div>
        <div>
          <v-icon :icon="mdiChevronTripleRight"></v-icon>Surname: Kongchai
        </div>
        <div><v-icon :icon="mdiChevronTripleRight"></v-icon>Nickname: Benz</div>
        <div>
          <v-icon :icon="mdiChevronTripleRight"></v-icon>Date Of Birth : 12
          January 2003
        </div>
        <div>
          <v-icon :icon="mdiChevronTripleRight"></v-icon>Age: 19 Year Old
          <v-icon :icon="mdiCake"></v-icon>
        </div>
        <div>
          <v-icon :icon="mdiChevronTripleRight"></v-icon>Gender: Male<v-icon
            :icon="mdiHumanMale"
          ></v-icon>
        </div>
        <h2>----------------------------</h2>
      </v-col>
      <v-col cols="10" class="bg3">
        <div class="name">:Educational</div>

        <div>
          <v-table class="colortalble">
            <thead>
              <tr>
                <th class="text-left">Educational</th>
                <th class="text-left">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <v-avatar>
                    <v-img src="takham.jpeg"></v-img>
                  </v-avatar>
                  Watpomrattanaram School
                </td>

                <td>2005 - 2007</td>
              </tr>
              <tr>
                <td>
                  <v-avatar>
                    <v-img src="takham.jpeg"></v-img>
                  </v-avatar>
                  Takhampittayakom School
                </td>
                <td>2008 - 2020</td>
              </tr>
              <tr>
                <td>
                  <v-avatar>
                    <v-img src="buu.png"></v-img>
                  </v-avatar>

                  Burapha University
                </td>
                <td>2020 - Present</td>
              </tr>
            </tbody>
          </v-table>
        </div>
        <br />
        <div class="font" style="text-align: center">Hobby:</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="bg2" cols="2" align="center"> </v-col>
      <v-col cols="5" class="bg3">
        <v-card class="mx-auto" max-width="400">
          <v-img
            class="align-end text-white"
            height="200"
            src="game1.jpg"
            cover
          >
            <v-card-title>Game</v-card-title>
          </v-img>

          <v-card-text>
            <div>: Valorant,Overwatch,Apex</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-col cols="5" class="bg3">
        <v-card class="mx-auto" max-width="400">
          <v-img
            class="align-end text-white"
            height="200"
            src="moive.png"
            cover
          >
            <v-card-title>Movie</v-card-title>
          </v-img>

          <v-card-text>
            <div>: Netflix,Disney</div>

            <div></div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="bg2" cols="2"> </v-col>
      <v-col cols="10" class="bg3">
        <div class="font" style="text-align: center">
          What we care about: <v-icon :icon="mdiCarConvertible"></v-icon>
        </div>
        <br />
        <v-card class="mx-auto" max-width="400">
          <v-img class="align-end text-white" height="200" src="car.jpg" cover>
            <v-card-title>Supercar</v-card-title>
          </v-img>

          <v-card-text>
            <div>: Lamborghini</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.bg {
  background-color: rgb(252, 215, 167);
  padding: 0;
}
.bg2 {
  background-color: rgb(253, 176, 74);
  padding: 0;
}
.bg3 {
  background-color: bisque;
  padding: 300;
}

h1 {
  color: rgb(0, 162, 236);
  font-weight: bold;
  font-size: 150px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.name {
  color: rgb(90, 85, 85);
  font-weight: bold;
  font-family: "Sans-serif";
  font-size: 30px;
}
.font {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
}
.colortalble {
  background-color: aliceblue;
  color: black;
}
</style>
