<script setup lang="ts">
import FrameworlPop from "@/components/FrameworlPop.vue";
import { ref, computed } from "vue";
const framworkList = ref([
  { name: "Vue Js", img: "vue-js.png", rating: 10 },
  { name: "Angular", img: "angular.png", rating: 20 },
  { name: "ReactJS", img: "React-icon.svg.png", rating: 14 },
]);
function changeRating(index: number, rating: number) {
  console.log("action " + index + " :" + rating);
  framworkList.value[index].rating = rating;
}
const orderList = computed(() => {
  return [...framworkList.value].sort((n1, n2) => n2.rating - n1.rating);
});

//const neworderList = [...orderList];
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of framworkList" :key="index">
        <FrameworlPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
